<footer>
    <img src="{{ url_for('static', filename='Y11 Escutcheon.png') }}" alt="Y11 Escutcheon">
        <div class="footertext">
            <a href="Sitemap">Sitemap</a>
            <p>SnapSaver 2021©</p>
            <p>SnapSaver is a project by group Y11 of the University of Manchester.
            Upon creating an account, the only information we store are your login
            details. SnapSaver is a community driven website, and the information
            displayed may always not be correct/up-to-date. If you have any issues,
            please contact us via our contact page. For acknowledgements and references,
            please look <a href="references">here</a>.
            </p>
        </div>
</footer>
