<!DOCTYPE html>
<html lang="#" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>References</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sitemap.css') }}">
    <!-- <link rel="stylesheet" href="../static/sitemap.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="parent">
      {% include 'navigation.html' %}
      <div class="main">
        <h1>References</h1>
        <h2>Images & Free to Use elements</h2>
        <h3>Home Page & Shopping List</h3>
        <ul>
          <li>Banner on Home Page and Shopping List
            <a href="https://unsplash.com/@danielcgold?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dan Gold</a>
            on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
          <li>Find Product on Home Page <a href="https://unsplash.com/@shotbyshoe?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sara Scarpa</a>
            on <a href="https://unsplash.com/s/photos/basket-vegetable?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
          <li>Scan Barcode on Home Page <a href="https://unsplash.com/@charlesgs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Charles Gao</a>
          on <a href="https://unsplash.com/s/photos/supermarket?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
          <li>Register/Manage Account on Home Page <a href="https://unsplash.com/@benceboros?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Bence Boros</a>
          on <a href="https://unsplash.com/s/photos/manage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
        </ul>
        <h3>Search Page</h3>
        <ul>
          <li>Banner on Search Page
            <a href="http://ilbolive.unipd.it/sites/default/files/styles/style_1120x630/public/2020-10/chantal-garnier-910ganwboew-unsplash1.jpg?itok=BDfubEA8">
              Fox on Green</a></li>
        </ul>

        <h3>FAQ Page</h3>
        <ul>
          <li>Q icon on FAQ <a href="https://icons8.com/icon/110865/q">
            icons8</a></li>
          <li>A icon on FAQ <a href="https://icons8.com/icon/KwoECodT8T07/a">
            icons8</a></li>
          <li>Phone icon on FAQ <a href="https://www.freepik.com"
          title="Freepik">Freepik</a> on <a href="https://www.flaticon.com/"
          title="Flaticon">www.flaticon.com</a></li>
          <li>Email icon on FAQ <a href="https://www.flaticon.com/authors/pixel-perfect"
            title="Pixel perfect">Pixel perfect</a> on
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com
            </a></li>
        </ul>
        <h3>Barcode Page</h3>
        <ul>
          <li>Scan Barcode on Barcode Page
            <a href="https://unsplash.com/@dimitryzub?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dimitry Zub</a>
          on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
          <li>Enter Barcode on Barcode Page
            <a href="https://unsplash.com/@skabrera?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sergi Kabrera</a>
            on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></li>
            <li>Button styling for Scan Buttons on Barcode Page inspire by  <a href="https://codepen.io/ma_suwa/pen/qBBYKNy">masuwa</a> </li>
        </ul>
        <h3>Account Pages (Register, Login, Manage)</h3>
        <ul>
          <li>Buttons styling on all pages by <a href="https://codepen.io/RafaelDeJongh/pen/pNEZgO">RafaelDeJongh</a></li>
          <li>Input boxes on all pages by <a href="https://codepen.io/chris__sev/pen/IdGKH">Chris Sev</a></li>
        </ul>
        <h2>Code and General Acknowledgements</h2>
        <p>The members of Y11 are: Will, Liam, Wei, Tristan (Yizheng Sun),
          Zed (Enlong Bo), Elliot, Mihnea. All of us would like to extend a big
          thank you to our lecturers for COMP10120 and TA's for their advice and
          help. A special thank you to our supervisor,
          Riza Theresa Batista-navarro, who has been on time for every weekly
          meeting, and an exceptional tutor. The mood in the camp is pretty high
          before submitting this, and we all feel we atleast hit the minimum
          standard we set ourselves, despite setbacks. Thank you for viewing our
          project, and we hope you liked it!
      </p>
      </div>
      {% include 'footer.html' %}
    </div>

  </body>
</html>
